body {
    margin: 0;
    padding: 0;
    color: #444;
    font-family: Helvetica, sans-serif;
}
input {
    background-color: #efefef;
    border-radius: 4px;
    outline: none;
}
button {
    background-color: #2e3642;
    padding: 10px;
    color: #fff;
    border-radius: 4px;
}
